.hero {
  position: relative;
  height: 100vh;
  background-color: var(--color-east-bay);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  &__title {
    z-index: 1;
    margin: 0;
    margin-bottom: var(--second-offset);
    max-width: 580px;
    font: var(--xlarge-regular-font);
    color: var(--color-white);
  }

  &__subtitle {
    z-index: 1;
    margin: 0;
    margin-bottom: var(--main-offset);
    max-width: 480px;
    font: var(--small-book-font);
    color: var(--color-white);
  }

  &__btn {
    z-index: 1;
  }

  &__back {
    position: absolute;
    left: 50%;
    font-family: "Intro";
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    line-height: 200px;
    color: var(--color-white);
    opacity: 0.12;
    transform: translate(-50%);
    user-select: none;
    -webkit-touch-callout: none;
  }
}