html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--color-white);
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.btn {
  border-radius: var(--border-radius);
  padding: 22px 47px;
  font: var(--small-regular-font);
  text-align: center;
  transition: color 0.03s ease-in 0s, background-color 0.03s ease 0s;
  cursor: pointer;

  &--primary {
    color: var(--color-white);
    background-color: var(--color-accent);

    &:hover {
      background-color: var(--color-mojo);
    }

    &:active {
      background-color: var(--color-burnt-umber);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-river-bed);

    &:hover {
      background-color: var(--color-tuna);
    }

    &:active {
      background-color: var(--color-river-bed);
    }
  }

  &--thirdly {
    border: 1px solid var(--color-river-bed);
    color: var(--color-river-bed);
    background-color: transparent;

    &:hover {
      border: 1px solid var(--color-river-bed);
      color: var(--color-white);
      background-color: var(--color-river-bed);
    }

    &:active {
      border: 1px solid var(--color-river-bed);
      color: var(--color-river-bed);
      background-color: transparent;
    }
  }
}

.hidden {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.title {
  margin: 0;
  width: fit-content;
  font: var(--large-bold-font);
  line-height: 100%;
  color: var(--river-bed);

  &-min {
    margin: 0;
    width: fit-content;
    font: var(--medium-book-font);
    line-height: 100%;
    color: var(--river-bed);
  }

  &-sub {
    margin: 0;
    width: fit-content;
    font: var(--small-book-font);
    line-height: 100%;
    color: var(--color-gray);
  }
}

.text {
  margin: 0;
  width: fit-content;
  font: var(--small-book-font);
  line-height: 100%;
  color: var(--river-bed);
}

.checkbox {
  @include checkbox(var(--small-book-font), var(--color-river-bed), var(--third-offset), 24px, 24px, var(--border-radius), 1px, var(--color-cameo), url("../img/mark.svg") center center/15px 12px no-repeat);
}

.img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.curl {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 550px;
  height: 424px;

  &-circle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 541px;
    height: 550px;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  > svg {
    width: 100%;
    height: 100%;
  }
}

.tooltip {
  @include tooltip(var(--color-river-bed), var(--color-white), 426px, var(--third-offset) var(--second-offset), var(--xsmall-book-font));

  // .tooltip__btn

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
    background-color: var(--color-white);

    >svg {
      width: 7px;
      height: 10px;
      object-fit: cover;
    }
  }

  // .tooltip__info

  &__info {
    left: -10px;
    top: initial;
    bottom: calc(100% + 14px);
    box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
    letter-spacing: initial;
    text-transform: initial;
  }

  // .tooltip__info::after

  &__info::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: -7px;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: var(--color-white) transparent;
    border-radius: var(--border-radius);
    width: 0;
    height: 0;
  }
}