:root {
  // Цвета
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #f14f4f;
  --color-border: rgba(255, 255, 255, 50%);

  // Отступы
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;

  // Шрифты
  --font-family: "Intro", sans-serif;
  --middle-high-font: 700 30px / 140% var(--font-family);
  --small-font: 300 14px / 140% var(--font-family);
}