:root {
  // Цвета
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #f14f4f;
  --color-border: rgba(255, 255, 255, 50%);
  --color-east-bay: #484283;
  --color-mojo: #cc4949;
  --color-burnt-umber: #8c2828;
  --color-river-bed: #444b58;
  --color-tuna: #31343c;
  --color-seashell-peach: #fff4ee;
  --color-cameo: #dbbba9;
  --color-bombay: #b2b5bb;
  --color-gray: #808080;

  // Отступы
  --grid-gap: 20px;
  --section-offset: 60px;
  --main-offset: 40px;
  --second-offset: 20px;
  --third-offset: 10px;
  --mega-offset: 100px;

  // Границы
  --border-radius: 4px;

  // Шрифты
  --font-family: "Intro", sans-serif;

  // bold
  --large-bold-font: 700 30px / 140% var(--font-family);
  --middle-bold-font: 700 20px / 140% var(--font-family);

  // regular
  --xlarge-regular-font: 400 36px / 140% var(--font-family);
  --middle-regular-font: 400 30px / 140% var(--font-family);
  --premedium-regular-font: 400 20px / 140% var(--font-family);
  --small-regular-font: 400 16px / 140% var(--font-family);

  // book
  --medium-book-font: 300 24px / 140% var(--font-family);
  --small-book-font: 300 16px / 140% var(--font-family);
  --xsmall-book-font: 300 14px / 140% var(--font-family);
}